In [121]:
import pandas as pd
import requests
from bs4 import BeautifulSoup
import lxml



def createList(r1, r2):
    return [item for item in range(r1, r2+1)]
      
r1, r2 = 2, 58
numbers = createList(r1, r2)
even = [i for i in numbers if i%2 == 0]
new_df = pd.DataFrame()
final_df = pd.DataFrame()
url = "https://mops.twse.com.tw/nas/t21/sii/t21sc03_111_1_0.html"

res = requests.get(url) 
chineese_encoding = res.apparent_encoding
res.encoding = chineese_encoding

soup = BeautifulSoup(res.text,"html.parser") 

for i in even:
    data = soup.select('table')[i]
    #print(data)

    df = pd.read_html(data.prettify())
    dfs = df[0]
    new_df = new_df.append(dfs)

In [122]:
new_df.columns = new_df.columns.get_level_values(1)

In [123]:
new_df

,公司 代號,公司名稱,當月營收,上月營收,去年當月營收,上月比較 增減(%),去年同月 增減(%),當月累計營收,去年累計營收,前期比較 增減(%),備註
0,1101,台泥,7517896,10821264,8084465,-30.52,-7.00,7517896,8084465,-7.00,"以上營收不包含停業部門營收:111年1月 0 仟元暨110年1月511,796仟元；111年..."
1,1102,亞泥,7420726,9403723,7436331,-21.08,-0.20,7420726,7436331,-0.20,-
2,1103,嘉泥,158052,171518,195482,-7.85,-19.14,158052,195482,-19.14,-
3,1104,環泥,592322,569625,511466,3.98,15.80,592322,511466,15.80,-
4,1108,幸福,324664,319368,417355,1.65,-22.20,324664,417355,-22.20,-
...,...,...,...,...,...,...,...,...,...,...,...
63,9944,新麗,237941,230151,246471,3.38,-3.46,237941,246471,-3.46,-
64,9945,潤泰新,2496170,3207869,2428261,-22.18,2.79,2496170,2428261,2.79,-
65,9955,佳龍,155798,156888,262114,-0.69,-40.56,155798,262114,-40.56,-
66,合計,合計,90687222,93983394,82277077,-3.50,10.22,90687222,82277077,10.22,NaN
0,合計,合計,0,0,0,NaN,NaN,0,0,NaN,NaN

In [124]:
final = new_df.loc[new_df["公司名稱"] == "合計"].reset_index(drop= True)

In [128]:
final_df["公司名稱"]= final["公司名稱"]
final_df["當月營收"]= final["當月營收"]

In [129]:
final_df

   公司名稱       當月營收
0    合計   16747415
1    合計   78119692
2    合計  114504785
3    合計   49089066
4    合計   28777972
5    合計   21654550
6    合計   27274895
7    合計   10449697
8    合計    4785496
9    合計   18697761
10   合計   88505269
11   合計   18605903
12   合計   55313344
13   合計  393827826
14   合計  613899693
15   合計   96003794
16   合計   79390314
17   合計  160595102
18   合計  226079346
19   合計    6602087
20   合計  493112935
21   合計   69319832
22   合計   31798709
23   合計  167755764
24   合計    4676104
25   合計  241474502
26   合計   63148521
27   合計   90687222
28   合計          0