In [1]:
import pandas as pd
import requests
from bs4 import BeautifulSoup
import lxml



def createList(r1, r2):
    return [item for item in range(r1, r2+1)]
      
r1, r2 = 2, 58
numbers = createList(r1, r2)
even = [i for i in numbers if i%2 == 0]

a1, a2 = 1, 57
numberss = createList(a1, a2)
odd = [i for i in numberss if i%2 != 0]


new_df = pd.DataFrame()
final_df = pd.DataFrame()
url = "https://mops.twse.com.tw/nas/t21/sii/t21sc03_111_1_0.html"

res = requests.get(url) 
chineese_encoding = res.apparent_encoding
res.encoding = chineese_encoding

soup = BeautifulSoup(res.text,"html.parser") 

for i in even:
    data = soup.select('table')[i]
    #print(data)

    df = pd.read_html(data.prettify())
    dfs = df[0]
    new_df = new_df.append(dfs)

In [2]:
new_df.columns = new_df.columns.get_level_values(1)
final = new_df.loc[new_df["公司名稱"] == "合計"].reset_index(drop= True)

In [3]:
final_df["產業別"]= final["公司名稱"]
final_df["當月營收"]= final["當月營收"]

In [4]:
final_df

   產業別       當月營收
0   合計   16747415
1   合計   78119692
2   合計  114504785
3   合計   49089066
4   合計   28777972
5   合計   21654550
6   合計   27274895
7   合計   10449697
8   合計    4785496
9   合計   18697761
10  合計   88505269
11  合計   18605903
12  合計   55313344
13  合計  393827826
14  合計  613899693
15  合計   96003794
16  合計   79390314
17  合計  160595102
18  合計  226079346
19  合計    6602087
20  合計  493112935
21  合計   69319832
22  合計   31798709
23  合計  167755764
24  合計    4676104
25  合計  241474502
26  合計   63148521
27  合計   90687222
28  合計          0

In [5]:
industry = pd.DataFrame()
for i in odd:
    data = soup.select('table')[i]
    df = pd.read_html(data.prettify())
    dfs = df[0]

    new_list = []
    real_list = []
    for i in dfs.columns.values.tolist():
        new_list.append(i)
        break

    for i in new_list:
        real_list.append(i[4:])
        break
        
    industry = industry.append(real_list)

In [6]:
industry = industry.reset_index(drop= True)
industry.columns = ['公司名稱']

In [7]:
final_df["產業別"] = industry["公司名稱"]
final_df

                                            產業別       當月營收
0                                          水泥工業   16747415
1                                          食品工業   78119692
2                                          塑膠工業  114504785
3                                          紡織纖維   49089066
4                                          電機機械   28777972
5                                          電器電纜   21654550
6                                          化學工業   27274895
7                                         生技醫療業   10449697
8                                          玻璃陶瓷    4785496
9                                          造紙工業   18697761
10                                         鋼鐵工業   88505269
11                                         橡膠工業   18605903
12                                         汽車工業   55313344
13                                         半導體業  393827826
14                                     電腦及週邊設備業  613899693
15                                          光電業   96003794
16                                        通信網路業   79390314
17                                       電子零組件業  160595102
18                                        電子通路業  226079346
19                                        資訊服務業    6602087
20                                        其他電子業  493112935
21                                        油電燃氣業   69319832
22                                         建材營造   31798709
23                                          航運業  167755764
24                                         觀光事業    4676104
25  金融保險業（其中金控公司係控股公司，其申報之「營業收入」係認列所有子公司損益之合計數）  241474502
26                                         貿易百貨   63148521
27                                           其他   90687222
28                                         存託憑證          0